@import url('https://fonts.googleapis.com/css?family=Barriecito|Pacifico|Shadows+Into+Light&display=swap');
header {
    height: 20vh;
    width: 99vw;
    background-color: lightblue;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Barriecito', cursive;
    font-size: 1.5rem;
    align-items: center;
    border: 3px lightgray solid;
}

h1 {}

.logo {
    height: 100px;
    width: 100px;
}

img {
    height: 100px;
    width: 100px;
    background-size: contain;
}