@import url('https://fonts.googleapis.com/css?family=Barriecito|Pacifico|Shadows+Into+Light&display=swap');
header {
    height: 16vh;
    width: 99vw;
    background-color: #add8e6;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Barriecito', cursive;
    font-size: 1.5rem;
    align-items: center;
    border: 3px lightgray solid;
}

h1 {}

.logo {
    height: 100px;
    width: 100px;
}

img {
    height: 50px;
    width: 50px;
    background-size: contain;
}

.pokemon {
    height: 150px;
    width: 150px;
    background-size: contain;
}

footer {
    width: 99vw;
    background-color: #afddec;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Barriecito', cursive;
    font-size: 1.5rem;
    align-items: center;
    border: 3px lightgray solid;
}

.bottom {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}