@import url('https://fonts.googleapis.com/css?family=Barriecito|Pacifico|Shadows+Into+Light&display=swap');
header {
    height: 20vh;
    width: 98vw;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    font-family: 'Barriecito', cursive;
    font-size: 2rem;
    align-items: baseline;
    border: 3px lightgray solid;
}

h1 {
    margin: 0 0 2vh 0;
}