@import url('https://fonts.googleapis.com/css?family=Barriecito|Pacifico|Shadows+Into+Light&display=swap');
.hedgehogsShowList {
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(45deg, rgb(1, 34, 65) 20%, rgb(12, 13, 97) 30%, rgb(77, 195, 241) 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-around;
}

.individualHH {
    height: 40%;
    width: 28%;
    background-color: rgb(41, 41, 41);
    border: 5px rgb(14, 14, 65) solid;
    margin: 2%;
}

img {
    height: 40vh;
    width: 100%;
    background-size: cover;
}

.textbox {
    height: 100%;
    width: 100%;
    background-color: rgb(143, 143, 143);
    display: flex;
    align-items: center;
    flex-direction: column;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    justify-content: center;
}

h5 {
    border: 2px lightblue solid;
    width: 30%;
    font-family: 'Shadows Into Light', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

h2 {
    font-family: 'Barriecito', cursive;
}