.app {
    height: 100vh;
    width: 100vw;
}


/* main {
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
    display: flex;
}

.editbar {
    height: 80vh;
    width: 10vw;
    background-color: grey;
    display: flex;
    position: sticky;
    top: 0;
}

.hedgehogDisplay {
    width: 85vw;
    background-color: whitesmoke;
    margin: 2vh 2vw;
    display: flex;
}

.individualHH {
    height: 40vh;
    width: 20vw;
    background-color: lightblue;
    margin: 3%;
    line-height: .2rem;
}

.outside {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.adjust {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

input {
    height: 3%;
    width: 90%;
} */